<h4>Template for {{daysLength}}-day forecast page:</h4>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{daysLength}}-day forecast for Rancho Cordova</h3>
        </div>
        <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
        <ul class="list-group">
            <!---->
            <li class="list-group-item" *ngFor="let forecast of forecastDetails">
                {{forecast.date | date: 'EEEE'}}: {{forecast.currentConditions}} - Min: {{forecast.minToday | toCelsius}} - Max: {{forecast.maxToday | toCelsius}}

                <app-weather-icon class="icon" [weatherName]="forecast.currentConditions"></app-weather-icon>
            </li>
        </ul>
    </div>
    <button class="btn btn-success" tabindex="0" [routerLink]="['../']">&lt; Back to main page</button>
</div>